---
const redirectStr = "0; URL=" + Astro.site.toString()
---

<head>
    <meta http-equiv="refresh" content={redirectStr} />
    <title>404 - redirect</title>
</head>

<p class="m-auto text-center text-xl mt-8">How the heck did you get here?</p>
<p class="m-auto text-center">This is a 404, and clearly, my redirect broke.</p>
